<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tyderion.nfcwriter" >
    <application
        android:label="@string/app_name" >
        <activity
            android:name="com.github.tyderion.nfcwriter.NFCWriterActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
        </activity>
    </application>

</manifest>
